[Desktop Entry]
Type=Application
Name=Epic Film
GenericName=Video Editor
Comment=Edit video, color and sound
Exec=filmcraft %F
TryExec=filmcraft
Icon=io.github.prockstem.epicfilm
Terminal=false
StartupNotify=true
StartupWMClass=io.github.prockstem.epicfilm
Categories=AudioVideo;Video;AudioVideoEditing;
Keywords=video;editor;film;timeline;color;grading;nle;
